@media (min-width: 1200px)
{
.container {
    width: 1511px !important;
    height:20px !important;
    /* background-color:rgb(61, 159, 239)!important; */
    
    /* color: white!important; */
}

.row{
    margin-right: -26px;
    margin-left: -25px;
}


 .buttonBlue {background-color: #2196F3;} /* Blue */
    .buttonBlue:hover {background: #0b7dda;}


}